splitGame
Library/metadata
Library/assetDatabase3/*
Library/ScriptAssemblies/*
Library/metadata/*
Temp/*

Library/metadata/00/00000000000000003000000000000000

Library/metadata/00/0000000000000000b000000000000000
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
